<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Git Control Panel</title>
    <script src="/jquery-3.7.1.min.js"></script>
    <style>
        {{> css.css}}
    </style>
</head>
<body>

<script>
    function patch(url, bodyObj) {
        $.ajax({
            url: url, // Reemplaza con la URL de tu backend
            type: 'PATCH',
            contentType: 'application/json', // Indica que estás enviando JSON
            data: JSON.stringify(bodyObj), // Convierte tu objeto a JSON

            success: function(respuesta) {
                // Maneja la respuesta exitosa del backend
                console.log('Respuesta del backend:', respuesta);
                $("body").css("cursor", "progress");
                location.reload();
            },
            error: function(error) {
                // Maneja los errores de la llamada
                console.error('Error en la llamada PATCH:', error);

                $("#notification").html(error.responseText).show();
                $("#notification").click(function(){
                    $("#notification").hide();
                });
            }
        });
    }
</script>

<header>

    <h1>Git Control Panel</h1>

    <span>
        <label for="repository" style="color:white; font-size:12px">Repository path:</label>
        <select id="repository" style="max-width: 400px">
            {{#repositoryPath repositoryPaths}}
                <option>{{repositoryPath}}</option>
            {{/}}
        </select>
    </span>

</header>

<div id="notification" class="notification" style="display:none"></div>

<main>
    <div class="panel left-panel">
        <h2>Branches</h2>
        <ul>
            {{#branch branches}}
            <li class="branch {{?branch.current}}active{{/}} text file-status">
                <span class="code">{{branch.name}}</span>
                <span>
                    {{^branch.current}}
                        <button class="button-chip" onclick="patch('{{servlet-context}}/branch?branchName={{branch.name}}', {})">Checkout</button>
                    {{/}}
                </span>
            </li>
            {{/}}
        </ul>
    </div>
    <div class="panel middle-panel">
        <h2>Status & Commits</h2>

        {{? status.mergeConflict}}
        <div class="conflict-warning">
            ⚠️ Estás en medio de un merge. Resuelve los conflictos para continuar.
        </div>
        {{/}}

        <button class=""><big>⭳</big> Pull</button>
        <br/>
        <br/>

        {{? status.stagedFiles}}
            <div class="section-staged">
                {{#file status.stagedFiles}}
                <div class="file-status">
                    <span class="code">{{file.fileName}}</span>
                    <div class="file-actions">
                        <button class="button-chip" title="(use git restore --staged <file>... to unstage)">Restore</button>
                    </div>
                </div>
                {{/}}
            </div>
        {{/}}

        {{? status.modifiedFiles}}
            <div class="section-modified">
                {{#file status.modifiedFiles}}
                <div class="file-status">
                    <span class="code">{{file.fileName}}</span>
                    <div class="file-actions">
                        <button class="button-chip" title="(use git add <file>... to update what will be committed)" style="display: inline-block;">Add</button>
                        <button class="button-chip" title="(use git restore <file>... to discard changes in working directory)" style="display: inline-block;">Restore</button>
                    </div>
                </div>
                {{/}}
            </div>
        {{/}}

        {{? status.untrackedFiles}}
            <div class="section-untracked">
                {{#file status.untrackedFiles}}
                <div class="file-status">
                    <span class="code">{{file.fileName}}</span>
                    <div class="file-actions">
                        <button class="button-chip" title="(use git add <file>... to include in what will be committed)">Add</button>
                    </div>
                </div>
                {{/}}
            </div>
        {{/}}

        <div style="display: flex; align-items: center; justify-content: space-between;">
            {{?status.totalFiles}}
                <button><big>+</big> Add all</button>
            {{:}}
                <button disabled><big>+</big> Add all</button>
            {{/}}

            <div style="display: flex; align-items: center;">
                <input type="text" placeholder="Commit message" style="width: 300px; display: inline-block; margin-bottom: 0">
                {{?status.totalFiles}}
                    <button class="important"><big>↷</big> Commit</button>
                {{:}}
                    <button disabled><big>↷</big> Commit</button>
                {{/}}
                &nbsp;
                <button class="important2"><big>⭱</big> Push</button>
            </div>
        </div>


        {{!}}
        private final String hash;
        private final String message;
        private final String author;
        private final String timeAgo;
        {{/}}

        <br/>
        <br/>
        <br/>

        <h2>Latest Commits</h2>
        {{#commit commits}}
        <div class="commit">
            {{!}}
                {{commit.hash}}
            {{/}}
            <span class="code">
                {{commit.message}}
                <br/>
                {{commit.author}} - {{commit.timeAgo}}
            </span>
            {{#branchRef commit.branchRefs}}
                <span class="tag">{{branchRef}}</span>
            {{/}}
        </div>
        {{/}}
    </div>






{{!}}
    private final String id;
    private final String description;
    private final String timeAgo;
{{/}}

    <div class="panel right-panel">
        <h2>Stashes</h2>

        <button><big>↴</big> Push Stash</button>
        <br/>

        <ul>
            {{#stash stashes}}
            <li class="stash">
                <span class="code">
                    {{stash.id}}<br/>
                    <small style="color: gray">
                        <i>({{stash.description}})</i>
                        - {{stash.timeAgo}}
                    </small>
                </span>
                <div class="stash-actions">
                    <button><big>←</big> Apply</button>
                    <button><big>↤</big> Pop</button>
                </div>
            </li>
            {{/}}
        </ul>
    </div>
</main>

{{!}}
<div style="width:100px">
    <button class="">Default</button>
    <button class="secondary">secondary</button>
    <button class="button-chip">chip</button>
    <button class="" disabled>disabled</button>
    <button class="important">important</button>
    <button class="important2">important2</button>
</div>
{{/}}

</body>
</html>
