<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Git Control Panel</title>
    <script src="/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" href="martino-css/martino-grids.css?{{uuid}}">
<!--    <link rel="stylesheet" href="martino-css/martino-buttons.css?{{uuid}}">-->
    <link rel="stylesheet" href="martino-css/martino-corp2.css?{{uuid}}">

    <style>

        html {
            zoom: 1;
        }

        #error-notification {
        /*    margin-bottom: 10px;*/
            background-color: #f8d7da; /* Rojo suave */
            padding: 12px;
            border-radius: 0px;
            font-family: monospace, monospace;
            font-size: 12px;
            white-space: pre;
        }
        #success-notification {
            background-color: #d4edda;
            padding: 12px;
            border-radius: 0px;
            font-family: monospace, monospace;
            font-size: 12px;
            white-space: pre;
        }

        code {
            font-family: monospace, monospace;
            font-size: 0.8em;
        }
    </style>

</head>
<body>

<script>
    function patch(url, bodyObj) {

        $("html").css("cursor", "wait");
        $('#waiting').html('<img src="/loading.gif" width="35" height="35">');

        $.ajax({
            url: url, // Reemplaza con la URL de tu backend
            type: 'PATCH',
            contentType: 'application/json', // Indica que estás enviando JSON
            data: JSON.stringify(bodyObj), // Convierte tu objeto a JSON

            success: function(respuesta) {
                // Maneja la respuesta exitosa del backend
                console.log('Respuesta del backend:', respuesta);

                //location.reload();
                reloadPage(respuesta);
                $("html").css("cursor", "default");
            },
            error: function(error) {
                // Maneja los errores de la llamada
                console.error('Error en la llamada PATCH:', error);

                $("html").css("cursor", "default");
                $('#waiting').html("");  // TODO

                $("#success-notification").hide();
                $("#error-notification").html(error.responseText).show();
            }
        });
    }

    function reloadPage(successMessage) {

        $("html").css("cursor", "wait");
        $('#waiting').html('<img src="/loading.gif" width="35" height="35">');

        $.ajax({
            url: "{{servlet-context}}?successNotification="+encodeURIComponent(successMessage),
            type: 'GET',
            success: function(result) {
                // Replace the entire HTML document with the result
                console.log('Respuesta del backend:', result);

                // Replace the current document's content with the new HTML content
                document.open();
                document.write(result);
                document.close();
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }
</script>


<div class="container-fluid">
    <div class="row" style="background-color:#eee">
        <div id="waiting" class="col-md-1">
        </div>
        <div class="col-md-5 text-left">
            <h1 class="clickable" onclick="reloadPage('')">
                Git Control Panel
            </h1>
<!--            <div class="clickable" onclick="reloadPage('')">-->
<!--                <img src="azulejo.jpg" width="64" height="64">-->
<!--            </div>-->
        </div>
        <div class="col-md-6 text-right">
            <select class="form-control input-sm" onchange="patch('{{servlet-context}}/repository?repositoryPath='+this.value, {})" style="background-color: white">
                {{#repository repositories}}
                    <option value="{{repository.path}}" {{?repository.selected}}selected{{/}}>{{repository.path}}</option>
                {{/}}
            </select>
        </div>
    </div>

    <div id="error-notification" class="row alert alert-error" style="display:none"></div>
    {{?successNotification}}
        <div id="success-notification" class="row alert alert-success">{{successNotification}}</div>
    {{:}}
        <div id="success-notification" class="row alert alert-success" style="display:none"></div>
    {{/}}

    <script>
        $("#error-notification").click(function(){
            $("#error-notification").hide();
        });
        $("#success-notification").click(function(){
            $("#success-notification").hide();
        });
    </script>

    <div class="row">
        <div class="col-xs-12 col-md-3">

            <h3>Branches</h3>

            <div class="row">
                <div class="col-md-2 text-left">
                    <button class="btn btn-primary" onclick="patch('{{servlet-context}}/branch/fetch', {})">⇊ Fetch</button>
                </div>
                <div class="col-md-10 text-right">
                    <script>
                        function createNewBranch() {
                            var branchName = document.getElementById('input-new-branch').value;
                            var branchNameEncoded = encodeURIComponent(branchName);
                            patch('{{servlet-context}}/branch/create?branchName='+branchNameEncoded, {})
                        }
                    </script>


                    <div class="btn-group">
                        <input id="input-new-branch" type="text" placeholder="Branch name" size="20" style="margin:0">
                        <button class="btn btn-danger" onclick="createNewBranch()">New branch</button>
                    </div>
                </div>
            </div>

            <ul class="ul-list">
                {{#branch branches}}
                <li class="{{?branch.current}}selected{{/}}">
                    <div class="row">
                        <div class="col-md-9 text-left">
                            <code>{{branch.name}}</code>
                        </div>
                        <div class="col-md-3 text-right">
                            {{^branch.current}}
                                <button class="btn btn-secondary btn-xs" onclick="patch('{{servlet-context}}/branch?branchName={{branch.name}}', {})">Checkout</button>
                            {{/}}
                        </div>
                    </div>
                </li>
                {{/}}
            </ul>
        </div>
        <div class="col-xs-12 col-md-6">

            <h3>Status & Commits</h3>

            {{? status.mergeConflict}}
                <div class="row alert alert-error">
                    ⚠️ Merge in progress, solve the conflicts to continue.
                </div>
            {{/}}

            <div class="alert alert-success">
                <div class="row">
                    <small class="col-md-12">Changes to be committed:</small>
                </div>
                {{#file status.stagedFiles}}
                <div class="row">
                    <div class="col-md-9"><code>{{file.fileName}}</code></div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-xs" title="(use git restore --staged <file>... to unstage)"
                                    onclick="patch('{{servlet-context}}/stage/restore-staged?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Restore
                            </button>
                            <button class="btn btn-secondary btn-xs"
                                    onclick="patch('{{servlet-context}}/stage/diff?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Diff
                            </button>
                        </div>
                    </div>
                </div>
                {{/}}
            </div>

            <div class="alert alert-warning">
                <div class="row">
                    <small class="col-md-12">Changes not staged for commit:</small>
                </div>
                {{#file status.modifiedFiles}}
                <div class="row">
                    <div class="col-md-9"><code>{{file.fileName}}</code></div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-xs" title="(use git add <file>... to update what will be committed)" style="display: inline-block;"
                                    onclick="patch('{{servlet-context}}/stage/add?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Add
                            </button>
                            <button class="btn btn-secondary btn-xs" title="(use git restore <file>... to discard changes in working directory)" style="display: inline-block;"
                                    onclick="patch('{{servlet-context}}/stage/restore?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Restore
                            </button>
                            <button class="btn btn-secondary btn-xs"
                                    onclick="patch('{{servlet-context}}/stage/diff?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Diff
                            </button>
                        </div>
                    </div>
                </div>
                {{/}}
            </div>

            <div class="alert alert-grey">
                <div class="row">
                    <small class="col-md-12">Untracked files:</small>
                </div>
                {{#file status.untrackedFiles}}
                <div class="row">
                    <div class="col-md-9"><code>{{file.fileName}}</code></div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-xs" title="(use git add <file>... to include in what will be committed)"
                                    onclick="patch('{{servlet-context}}/stage/add?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Add
                            </button>
                            <button class="btn btn-secondary btn-xs"
                                    onclick="patch('{{servlet-context}}/stage/diff?fileName='+encodeURIComponent('{{file.fileName}}'), {})">
                                Diff
                            </button>
                        </div>
                    </div>
                </div>
                {{/}}
            </div>


            {{? status.hasSomeFile}}
                <div class="row">
                    <div class="col-md-4">
                        <div style="display: flex; align-items: center;">
                            <button class="btn btn-secondary" onclick="patch('{{servlet-context}}/stage/add-all', {})">Add all</button>
                            <button class="btn btn-secondary" onclick="patch('{{servlet-context}}/stage/restore-staged-all', {})">Restore all</button>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <script>
                            function commit() {
                                var message = document.getElementById('input-commit-message').value;
                                var messageEncoded = encodeURIComponent(message);
                                patch('{{servlet-context}}/commit?message='+messageEncoded, {})
                            }
                        </script>

                        <div class="btn-group">
                            <input id="input-commit-message" type="text" placeholder="Commit message" size="50" style="margin:0">
                            <button class="btn btn-primary" {{^status.stagedFiles}}disabled{{/}} onclick="commit()">⇓ Commit</button>

<!--                            <button class="btn btn-warning" {{^status.stagedFiles}}disabled{{/}} onclick="commit()">AAC</button>-->
<!--                            <button class="btn btn-danger" {{^status.stagedFiles}}disabled{{/}} onclick="commit()">AACP</button>-->
                        </div>
                    </div>
                </div>
            {{/}}

            <br/>

            <h3>Latest Local Commits</h3>

            <div class="row">
                <div class="col-lg-4 text-left">
                    <button class="btn btn-primary" onclick="patch('{{servlet-context}}/commit/pull', {})">⭳ Pull</button>
                    <button class="btn btn-danger" onclick="patch('{{servlet-context}}/commit/push', {})">⭱ Push</button>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-secondary" onclick="patch('{{servlet-context}}/commit/undo-last', {})">Undo Last Commit</button>
                </div>
            </div>

            <ul class="ul-list">
            {{#commit commits}}
                <li>
                    {{!}}
                        {{commit.hash}}
                    {{/}}
                    {{#branchRef commit.branchRefs}}
                        <span class="label label-primary">{{branchRef}}</span>
                    {{/}}
                    <div>
                        <code>{{commit.message}}</code>
                    </div>
                    <small><small>{{commit.author}} - {{commit.timeAgo}}</small></small>
                </li>
            {{/}}
            </ul>
        </div>


        <div class="col-xs-12 col-md-3">

            <h3>Stashes</h3>

            <button class="btn btn-primary" onclick="patch('{{servlet-context}}/stash/push', {})">↴ Push Stash</button>

            <ul class="ul-list">
                {{#stash stashes}}
                <li>
                    <span>
                        <code>{{stash.id}}</code><br/>
                        <small style="color: gray">
                            <i>({{stash.description}})</i> - {{stash.timeAgo}}
                        </small>
                    </span>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-xs" onclick="patch('{{servlet-context}}/stash/apply?stashId='+encodeURIComponent('{{stash.id}}'), {})">Apply</button>
                        <button class="btn btn-secondary btn-xs" onclick="patch('{{servlet-context}}/stash/pop?stashId='+encodeURIComponent('{{stash.id}}'), {})">Pop</button>
                        <button class="btn btn-secondary btn-xs" onclick="patch('{{servlet-context}}/stash/drop?stashId='+encodeURIComponent('{{stash.id}}'), {})">Drop</button>
                    </div>
                </li>
                {{/}}
            </ul>
        </div>
    </div>
</div>


</body>
</html>
